---
import { Icon } from 'astro-icon/components';
import { MODEL_ICONS } from '../constants/model-icons';
import { LAYERS, type Language } from '../constants/filters';

const { model } = Astro.props;
if (!model) {
  console.warn("ModelCard: model is undefined");
  return null;
}

const currentLang: Language = 'ja';

const iconName = MODEL_ICONS[model.slug] || MODEL_ICONS["default"];

const layerKey = model.data.layer as keyof typeof LAYERS;
const layerLabel = LAYERS[layerKey] ? LAYERS[layerKey][currentLang] : model.data.layer;
---

<div
  class="card model-item"
  data-layer={model?.data?.layer}
  data-views={model?.data?.viewpoints.join(',')}
>
  <a href={`/models/${model.slug.split('/').pop()}`} class="card-link">
    <div class="card-header card-header-vertical">
      <Icon name={iconName} class="card-icon" />
      <h2 class="card-title">
        {model.data.official_name}
      </h2>
    </div>

    {model.data.description && (
      <p class="card-description">
        {model.data.description}
      </p>
    )}

    <div class="card-meta">
      <span class={`badge layer badge--${model.data.layer.toLowerCase()}`}>
        {layerLabel}
      </span>
    </div>
  </a>
</div>